* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins", sans-serif;
}

body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(landscape.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.heading span {
    color: rgb(116, 255, 47);
}

.video-box p {
    font-size: 25px;
    margin-top: 10px;
    color: white;
}